.h1,
h1 {
  font-size: 5.5rem;
  color: #14213d;
  font-family: "Bebas Neue", cursive;
}
h2,
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #14213d;
  font-size: 3rem;
  letter-spacing: 1px;
  padding: 20px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  padding: 20px;
  text-align: left;
  color: #14213d;
}
a {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #14213d;
  font-size: 1.4rem;
  line-height: 33px;
}
